<div class="container">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div class="text-center mt-5">
                <h3>Promedio de mutantes registrados</h3>
            </div>
            <hr>
            <ul class="mt-4">
                <li>Personas registras: <strong>{{promedio.Total_Registrado}}</strong></li>
                <li>Total Humanos: <strong>{{humanos}}</strong></li>
                <li>Total Mutantes: <strong>{{promedio.Mutantes_Detectados}}</strong></li>
                <li>Promedio Mutantes: <strong>{{promedio.Radio}}</strong></li>
            </ul>
            <hr>
            <div class="col-xl-4"></div>
        </div>
    </div>
</div>