<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="ml-7 navbar-nav mr-auto">
            <li class="nav-item btn btn-outline-primary">
                <a class="nav-link" routerLink="">Inicio</a>
            </li>
            <li class="nav-item btn btn-outline-primary">
                <a class="nav-link" routerLink="detector">Detector</a>
            </li>
            <li class="nav-item btn btn-outline-primary">
                <a class="nav-link" routerLink="average">Promedio</a>
            </li>
            <li class="nav-item btn btn-outline-primary">
                <a class="nav-link" routerLink="project">Proyecto</a>
            </li>
        </ul>
    </div>
</nav>