<div class="container">
    <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <h1 class="mt-4">Detector de Mutantes</h1>
            <p>Sistema que detecta si la secuencia de ADN pertenece a un Humano o a un Mutante</p>
            <p>El front genera un ADN de forma aleatoria con las letras "A" "C" "G" "T" y siempre es una matriz cuadrada</p>
            <p>Se lo envia al back para que analice si se trata de un Mutante o solo un Humano</p>
            <p>Una vez detectado lo almacena en la base de datos para poder sacar un promedio mas adelante</p>
            <hr>
            <h2>Promedio de registros</h2>
            <p>El front le envia una petición al back</p>
            <p>El back hace una consulta a la base de datos de la cantidad total de registros y la cantidad que son mutantes</p>
            <p>Saca un promedio y lo devuelve al front</p>
        </div>
        <div class="col-xl-3"></div>
    </div>
</div>