<div class="container">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div class="text-center mt-5">
                <h3>Descargar Proyecto</h3>
            </div>
            <hr>
            <p>Realizado por <a target="_blank" href="https://github.com/fernandoromo401">Fernando Romo</a></p>
            <ul class="mt-4">
                <li><a target="_blank" href="https://github.com/fernandoromo401/mercadolibre-back">GITHUB: Back-End</a></li>
                <li><a target="_blank" href="https://github.com/fernandoromo401/mercadolibre-front">GITHUB: Front-End</a></li>
            </ul>
            <hr>
            <div class="col-xl-4"></div>
        </div>
    </div>
</div>
